################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Exercise2_MVC/SchoolAppCoreMVC/myaspnetcoreapp.tar
